DB_NAME=simple_recipe_website
DB_USER=django
DB_PASSWORD=unsecure-please-change-this
DB_ADMIN_PASSWORD=unsecure-please-change-this-too
DB_HOST=localhost
DB_PORT=5432
APP_PORT=8000
DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
